<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>博客后台管理系统</title>
	<script type="text/javascript" src="/static/jquery/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/static/js/Alogin/Alogin.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/login/AClogin.css">


</head>
<body>

<script type="text/javascript">
	$(function(){
		Victor("container", "output");   //登陆背景函数
		$("#entry_name").focus();
		$(document).keydown(function(event){
			if(event.keyCode==13){
				$("#entry_btn").click();
			}
		});
	});
</script>

<div id="container">
	<div id="output">
		<div class="containerT">
			<h1>博客后台管理系统</h1>
			<form class="form" id="entry_form">
				<input type="text" placeholder="用户名" id="entry_name" value="admin">
				<input type="password" placeholder="密码" id="entry_password">
				<button type="button" id="entry_btn">登录</button>
				<div id="prompt" class="prompt"></div>
			</form>
		</div>
	</div>
</div>



</body>
</html>
