<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

    <link rel="stylesheet" type="text/css" href="/static/css/header/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header/responsive.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header/headstyle.css">
    <script type="text/javascript" src="/static/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="/static/js/Header/Headerscript.js"></script>
</head>
<body >
<div class='miaov_head'>
    <ul  style="list-style-type:none">
        <li th:each="m : ${TypeList}">
            <a th:href="@{'/navigation?table='+${m[tvalue]}}" th:text = "${m[table]}"></a>
        </li>
    </ul>
</div>

</body>
</html>